:root {
  --background: #121214;
  --shape: #202024;
  --purple: #835adf;
  --text: #c9d1d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}
